body {

    .image {
        background-image: url("/images/hero\ shape\ 5.png");
        background-repeat: no-repeat;
        height: 100vh;
        background-color: #252B42;
        background-size: cover;
        
        
    }
    .section1{
        background-color: #252B42;
        height: 100vh;
        .cadre1{
            background-color: white;
        }
        .cadre2{
            background-color: white;
        }
        .cadre3{
            background-color: white;
        }
    }
    

}